@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #182857;
        --el-color-primary: #182857 !important;
        --el-color-primary-light-3: #313E68 !important;
        --el-color-primary-light-5: #455378 !important;
        --el-color-primary-light-7: #5E6989 !important;
        --el-color-primary-light-8: #747D9A !important;
        --el-color-primary-light-9: #8C94AB !important;
        --el-color-primary-dark-2: #0e1c4d !important;
    }
}